/*Navigation*/
.nav-1{
 background: #ffffff !important;
  min-height: 90px;
  background-image: none;
  margin-bottom: 25px;
  opacity: 0.9;
}
.navbar-default .navbar-nav > li > a{
  color:#000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

.modal{
  margin: 0 auto;
  top: 25%;
  width: 85%;
}

/*Banner */

#banner{
  margin-top: 115px;
}
.bannerimg{
  width: 100%;
}
.heading{
  margin-bottom: 25px;
}
.imageRow{
  margin-bottom: 25px;
}
.bannerText {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/*HowTo*/
i{
  display: inline-block;
  width: 100%
}
#howTo{
  margin-top: 40px;

}
.fa{
  font-size: 30px;

}
.steps{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}
